:root{
    --Gray-1: #333333;
    --Gray-4: #BDBDBD;
    --Gray-6: #F2F2F2;
}

html {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 4052px;
}


 body {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 4052px;
}
body{
    background-color: #d4f3de;

}

header {

    height: 102px;
    width: 1440px;
    flex-shrink: 0;
    border-bottom: 2px solid #1d6d9f;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
}

header .menu-items li {
    display: inline-block;
    margin-top: 0;
    margin-left: 61px;
}
header .main-navigation ul {
    margin-left: 344px;
}


header .menu-items li:first-child {
margin-left: 0px;
}

header .menu-items li a {
    text-decoration: none;
    color: var(--Gray-1, #333);
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 2px;
    text-transform: uppercase;

}

header .column-50 {
    float: left;
}

header .logo {
    display: block;
    margin-top: 29px;
    margin-bottom: 29px;
    margin-left: 135px;
    width: 68px;
    height: auto;
}

header .menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* --------- HERO -------- */
/* Styling för knapparna "←" och "→" */
button.arrow {
    width: 53px;
    height: 53px;
    flex-shrink: 0;
}
button.arrow.left {
    border: 1px solid #F2F2F2;
    background: #FFF;
}

button.arrow.right {
    border: 1px solid #F2F2F2;
    background: #F9F9F9;
    margin-left: 23px;
}


/* Styling för hero-sektionen */
.hero {
    display: flex;
    padding:3px;
}

/* Styling för hero-bilden */
.hero-img {
    width: 770px;
    height: 829px;
    flex-shrink: 0;

    margin-bottom: 120px;
}

/* Styling för titeln "Project Lorum" i hero */
.custom-heading {
    display: flex;
    align-items: flex-start;
    margin-left: 135px;
}

.column {
    display: flex;
    flex-direction: column;
}

.project-heading, .lorum-heading {
    margin-bottom: 0; /* no margin between h1 */
}

.project-heading {
    color: var(--Gray-4, #BDBDBD);
    font-family: Roboto, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
    text-transform: uppercase;
    margin-top: 336px;
}

.lorum-heading {
    margin-top: 0;
    color: var(--Gray-1, #333);
    font-family: Roboto, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

.line {
    width: 271px;
    border-top: 1px solid var(--Gray-6);
    margin-top:580px;
    margin-left: -145px;
}


.button-container {
    display: flex;


}

/* Styling för arrow buttons och linjen */
.button-container {
    text-align: center;
    margin-top: 90px;
}

.linkbutton {
    font-size: 24px;
    margin: 10px 0;
    color: #fff;
}

.linkbutton.color-grey {
    color: #666;
}



.view-button {
    align-self: flex-end;
}


/* End of Hero section */






/* söndag css*/



/* Styla den gråa div-en i About-sektionen */
div.about-section {
    background-color: #FBFBFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 1170px;
    height: 435px;
    flex-shrink: 0;
    margin:  auto;

}

div.about-section column:first-child {
    gap:10rem;
}

/* Styla bilderna */
div.about-section img {
     /* Begränsa bildbredden till förälderens bredd */
    height: auto; /* Behåll bildens proportioner */
    margin-bottom: 20px; /* Lägg till ett avstånd mellan bilderna */
}

/* Styla bild 1 */
div.about-section img:first-child {

    flex-shrink: 0;
    margin: 30px 40px 30px 40px;
}

/* Styla bild 2 */
div.about-section img:nth-child(2) {

    flex-shrink: 0;
    margin: 30px 40px -30px 40px;
}

div.about-section img:nth-child(3) {
    margin: 30px 40px 30px 40px;
}


/* Styla rubriken */
div.about-section h2 {
    width: 100%;
    color: var(--Gray-4);
    font-family: Roboto, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
    margin: 0px 0px 30px 0px;
}

/* Styla texten */
div.about-section p {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; /* 156.25% */
}




/* ----------- FOOTER ----------- */
footer {
    background-color: #333333;
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 50px;
    box-sizing: border-box;
}

footer section {
    width: var(--content-width);
    height: auto;
    background-color: #4d4844;
    margin: auto;
    display: flex;
}

footer section.column {
    width: 33%;
    height: auto;
}

footer ul li a {
    color: white;

}

footer ul li{

    list-style: none;
}

footer .category {
    color: white;
}

/* End of FOOTER */